CRIMSONFLUX_HOST=127.0.0.1
CRIMSONFLUX_PORT=8765
CRIMSONFLUX_EXPORT_DIR=./exports
CRIMSONFLUX_MAX_KEYWORD_ITEMS=1000
CRIMSONFLUX_MAX_USER_ITEMS=10000
CRIMSONFLUX_REQUEST_PAUSE_MIN=2
CRIMSONFLUX_REQUEST_PAUSE_MAX=4
